@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,700,300,100);
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

/* Page style */
body{
  /* background: rgb(140,0,123);
  background: linear-gradient(22deg, rgba(140,0,123,1) 0%, rgba(115,28,114,1) 38%, rgba(78,0,180,1) 100%); */
  background: url('../images/fond_ciel.png') center center fixed;
  background-size: cover;
  font-family: "Nunito", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  margin-left: 250px;
  height: 100vh;
}

thead{
    background: #495057;
}

h2{
  font-size: 3rem;
}

#main{
  margin: 40px;
}

#edit_domain_main{
  background-color: white;
  padding: 50px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 50px;
}

.edit_card_title{
  font-weight: 600;
  font-family: 'Nunito',sans-serif;
  text-align: center;
  margin-bottom:40px;
}

#top_search_bar_section{
  padding: 10px;
  padding-left: 110px;
  padding-right: 110px;
}

#list{
  position: absolute;
  left: 0;
  top: 40px;
  border-radius: 0px;
  width: 100%;
  z-index: 200;
}

.list-group-item{
  border-radius : 0px
}

h1{
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  text-align: center;
  margin-bottom: 15px;
}

.tbl-content{
  height:450px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}

table{
  width:100%;
  table-layout: fixed;
}

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}

tr{
  /* background: white; */
  background: #f8f9fa38;
}

td{
  color: white;
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 13px;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

tr:hover{
  background: #d5d5d550;
  cursor : pointer;
}

td:hover{
  /* background: #b5b5b580;
  color : white; */
}

.button-action{
  /* position: relative;
  float: right; */
  font-size: 10px
  font-family : 'Poppins', sans-serif;
  font-weight: 200;
  color: white;
  /* width: 140px; */
  border-radius: 0px;
}

input{
  border-radius: 0px;
}

#client_box{
  background: #3596DA;
}

#dns_box{
  background: #2DCC72;
}

#price_box{
  background: #F42714;
}

.card_perso{
    box-shadow: 5px 5px 20px black;
}

.box{
  margin: 10px;
  border-radius: 0px;
  color: white;
  text-align: center;
}

.avalaible{
  color : #4af74a;
  font-weight: bold;
}

.unavalaible{
  color : #f57777;
  font-weight: bold;
}

.searchbar{
  background: white;
  color : white;
  border-radius: 0px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.wrapper {
    display: flex;
    width: 100%;
}

h3{
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  text-transform : uppercase;
  color: white;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: -moz-linear-gradient(90deg, rgba(246,255,66,1) 0%, rgba(255,204,38,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,204,38,1)), color-stop(100%, rgba(246,255,66,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(246,255,66,1) 0%, rgba(255,204,38,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(246,255,66,1) 0%, rgba(255,204,38,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(246,255,66,1) 0%, rgba(255,204,38,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(246,255,66,1) 0%, rgba(255,204,38,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFCC26', endColorstr='#F6FF42',GradientType=0 ); /* ie6-9 */
    color: grey;
    transition: all 0.3s;
}

.sidebar-header{
  text-align: center;
  padding: 20px;
}

li{
  /* border-top: 1px solid white;
  border-bottom: 1px solid white; */
  text-align: left;
  font-family: 'Nunito',sans-serif;
  /* font-weight: bold; */
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 11px;
  /* background: #484848; */
}

.dropdown-toggle{
  font-size: 15px;
  /* background: grey; */
}

a{
  color : white;
  font-size: 15px;
  padding: 15px;
}

a:hover{
  color: white;
  text-decoration: none;
}

.list_element a{
  font-size: 13px;
  text-transform: none;
}

hr{
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.active{
  text-transform: uppercase;
}

.list_element{
  background: #484848;
  font-weight: 200;
  font-size: 11px;
  text-align: center;
}

.list_element:hover{
  background: #5b5b5b;
}

#homeSubmenu{
  padding-top: 40px;
}

#btn_add_domain{
  width : 100%;
  border-radius: 0px;
  font-family: nunito;
  font-weight: 200;
  color: white;
}

@media screen and (min-width: 200px) and (max-width: 780px) {
  section{
    margin: 5px;
    margin-top : 50px;
  }
}
